body>div {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

details div {
    border-left: 2px solid #ff6f00;
    border-right: 2px solid #ff6f00;
    border-bottom: 2px solid #ff6f00;
    padding: 1.5em;
}

details div>*+* {
    margin-top: 1.5em;
}

details+details {
    margin-top: .5rem;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    /* border: 2px solid #000; */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    padding: .75em 1em;
    cursor: pointer;
    position: relative;
    padding-left: calc(1.75rem + .75rem + .75rem);
}

summary:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .75rem;
    content: "↓";
    width: 2rem;
    height: 2rem;
    background-color: #ff6f00;
    color: #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

details[open] summary {
    background-color: #eee;
}

details[open] summary:before {
    content: "↑";
}

summary:hover {
    background-color: #eee;
}

a {
    color: inherit;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0 1px 0 0;
}

a:hover {
    box-shadow: 0 3px 0 0;
}

code {
    font-family: monospace;
    font-weight: 600;
}