/* root */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --orange: #ff6f00;
    --main-heading: 3.125rem;
    --second-heading: 1.875rem;
    --main-paragrah: 0.875rem;
    --black: #454545;
    --first-color: #ff6f00;
}

* {
    box-sizing: border-box;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-family: Montserrat;
    font-style: normal;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 90%;
    max-height: 90%;
    /* display: block; */
    /* remove extra space below image */
}


/* image_why */


/* 
.image_why {
    background-color: red;
    margin: 30px;
} */

.main_heading {
    color: var(--orange);
    font-size: var(--main-heading);
    font-weight: bold;
}

.main_heading_statics {
    color: var(--orange);
    font-size: var(--main-heading);
    font-weight: bold;
    max-width: 50%;
    /*creates that fluidity */
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sec_paragraph {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8244rem;
    line-height: 2.25rem;
}

.main_description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    max-width: 50%;
    /*creates that fluidity */
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_description span {}

.bullet_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 23.565px;
    line-height: 29px;
    /* identical to box height */
    color: #000000;
}


/* home */

.orderfuel {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
}

.orderfuel span {
    padding: 5px 20px 5px 20px;
    background-color: var(--black);
}

.thirtysecs {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
}

.thirtysecs span {
    background-color: var(--orange);
    padding: 5px 20px 5px 20px;
}

.without_registration {
    color: var(--orange);
    font-style: normal;
    font-weight: 600;
    font-size: 1.5684rem;
    margin-top: 0.8vw;
    line-height: 2rem;
}

.uftlintro {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    max-width: 80%;
    line-height: 1.375rem;
}


/* How To Order Fuel */

.usingour {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8244rem;
    line-height: 2.25rem;
    color: #000000;
}

.usingour_para {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    /* #454545 */
    color: #454545;
    margin-top: 10px;
}


/* products */

.oilheading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 29.6679px;
    line-height: 36px;
    color: #454545;
}

.portion {
    background: #faf7f7;
    box-shadow: 4.61184px 4.61184px 78.4013px rgba(0, 0, 0, 0.05);
    border-radius: 36.8947px;
}


/* 
.pro {
    display: flex;

} */

.product-card {
    background: #fff;
    border-radius: 36.8947px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.swiper-pagination {
    /* margin: 5rem; */
}


/* features */

.fa-check-circle {
    color: var(--orange);
    font-size: 3rem;
    position: relative;
}

.features_text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 25px;
    color: #454545;
}


/* smart tank */

.usingheadings {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 23.565px;
    line-height: 29px;
    color: #000000;
}

.orange_howtoorderfuel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 51.8233px;
    line-height: 63px;
    /* identical to box height */
    /* #FF6F00 */
    color: #FF6F00;
}

.usingour {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    color: #000000;
}

.for_your {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 27.9643px;
    line-height: 34px;
    color: #000000;
}


/* testimonial */

.quotes {
    width: auto;
    padding: 50px 0px 0px 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17.6301px;
    line-height: 150%;
}

.person_quote_flexbox {
    display: flex;
    margin-left: 50px;
    /* margin-top: 50px */
}

.text-left {
    margin-left: 5px;
    margin-top: 10px;
}

.person_name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22.8288px;
    line-height: 28px;
    /* #FF6F00 */
    color: #FF6F00;
}

.person_name2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22.8288px;
    /* #FF6F00 */
    color: #FF6F00;
}

.designation {
    margin-top: -10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14.1454px;
    line-height: 17px;
    /* #000000 */
    color: #000000;
}


/* blog */

.blog_flex {
    display: flex;
}

.blog_image {
    width: 90%;
}

.blog_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25.9548px;
    line-height: 32px;
    text-decoration-line: underline;
    /* #000000 */
    color: #000000;
}

.blog_description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13.1116px;
    line-height: 16px;
    /* #000000 */
    color: #000000;
}


/* frequent */

.featuresheading {
    margin-bottom: 50px;
}